@import url('https://fonts.googleapis.com/css2?family=Condiment&family=IBM+Plex+Sans+JP:wght@300;400;700&family=Idiqlat:wght@200;300;400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rajdhani:wght@500;600;700&family=Zen+Dots&display=swap');
@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@theme {
    --font-zen-dots: 'Zen Dots', sans-serif;
    --font-ibm-plex: 'IBM Plex Sans JP', sans-serif;
    --font-rajdhani: 'Rajdhani', sans-serif;
    --font-condiment: 'Condiment', cursive;
    --font-idiqlat: 'Idiqlat', sans-serif;
    --font-pt-serif: 'PT Serif', serif;
}