TUYA_ACCESS_ID=seu_access_id
TUYA_ACCESS_SECRET=seu_access_secret
TUYA_ENDPOINT=https://openapi.tuyaus.com
DEVICE_LAMPADA_ID=seu_device_id_lampada
DEVICE_TOMADA_AR_ID=seu_device_id_tomada_ar
PORT=8000
GO2RTC_CAMERA_QUARTO_URL=http://100.127.0.33:1984/api/frame.jpeg?src=camera_quarto
